<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.women">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Women"
        tools:targetApi="31">
        <activity
            android:name=".FetalDevelopmentActivity"
            android:exported="false"
            android:label="Fetal Development"/>
        <activity
            android:name=".NutritionActivity"
            android:exported="false"
            android:label="Diet PLan" />
        <activity
            android:name=".InformationActivity"
            android:exported="false"
            android:label="Information"
            android:parentActivityName=".YogaActivity"/>
        <activity
            android:name=".YogaActivity"
            android:exported="false"
            android:label="Yoga" />
        <activity
            android:name=".LowerBackWorkoutActivity"
            android:exported="false"
            android:label="Lower Back Pain"
            android:parentActivityName=".ExercisesActivity" />
        <activity
            android:name=".NeckWorkoutActivity"
            android:exported="false"
            android:label="Neck and Shoulder Pain"
            android:parentActivityName=".ExercisesActivity" />
        <activity
            android:name=".PeriodWorkoutActivity"
            android:exported="false"
            android:label="Period Pain Relief "
            android:parentActivityName=".ExercisesActivity" />
        <activity
            android:name=".ExercisesActivity"
            android:exported="false"
            android:label="Exercises" />
        <activity
            android:name=".MensturationTrackerActivity"
            android:exported="false"
            android:label="Mensturation Tracker" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Sign In"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>